$font-size:           13px;
$line-height:         1.5;
$font-color:          #636363;
$font-noto:           "NotoSans", "Malgun Gothic", sans-serif;
$font-sil:            "Shadows Into Light", "NotoSans", "Malgun Gothic", cursive;

$point-color1:        #2b507b;
$point-color2:        #cadbed;
$point-color3:        #f05316;

$img-path:            "../images";
$font-path:           "../fonts";