@charset "UTF-8";

#myCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.progress {
    position: absolute;
    right: 10px;
    bottom: 10px;

    .num {
        margin-left: 5px;
    }
}

.tag-list {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0;
}

.tag {
    display: inline-block;
    width: 55px;
    padding: 2px 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 11px;
    text-align: center;

    + .tag {
        margin-left: 5px;
    }

    &.dev {
        background-color: #2b507b;
    }
    &.pub {
        background-color: #3593e2;
    }
}

.card-container {
    > li {
        width: 350px;

        a {
            display: block;

            &:hover {
                .thumb {
                    &::before {
                        transform: translateY(0%);
                    }

                    &::after {
                        visibility: visible;
                        opacity: 1;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        > a,
        > div {
            overflow: hidden;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        }

        .thumb {
            display: block;
            overflow: hidden;
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 10;
                background: rgba(0,0,0,0.4);
                transform: translateY(100%);
                transition: all .3s;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 11;
                visibility: hidden;
                opacity: 0;
                width: 35px;
                height: 35px;
                padding: 7px 0;
                border-radius: 50%;
                background: rgba(255,255,255,0.7) url("#{$img-path}/icon-link.png") no-repeat 50% 50%;
                background-size: 20px;
                color: #333;
                font-weight: 700;
                font-size: 12px;
                text-align: center;
                transform: translate(-50%, -200%);
                transition: all .2s .2s cubic-bezier(0, 0, 0.54, 1.61);
                text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
            }

            img {
                width: 100%;
            }
        }

        .desc {
            display: block;
            padding: 15px;
            color: #999;
            border: 1px solid #eee;
            font-size: 14px;
        }
    }
}