@charset "UTF-8";

#container {
    padding: 30px;
}

.card-container {
    position: relative;

    > li {
        width: 350px;

        a {
            display: block;
        }

        .thumb {
            display: block;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
            }
        }

        .desc {
            display: block;
            margin-top: 10px;
            color: #fff;
            font-size: 16px;
        }
    }
}