@charset "UTF-8";

body {
    overflow: hidden;
    background-color: #f2f2f2;
}

.open-profile {
    #container {
        z-index: 200;
    }
    .contents {
        overflow: hidden;
    }
}


#container {
    overflow: auto;
    height: 100%;
    position: relative;
    z-index: 100;

    .contents {
        padding: 30px 20px 50px;
    }
}

.profile-area {
    position: relative;
    margin-bottom: 60px;

    > a {
        display: block;
        position: relative;
        z-index: 10;
        width: 100px;
        margin: 0 auto;
        border-radius: 10px;
        background: transparent;
    }

    .photo {
        overflow: hidden;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0 1px 5px rgba(0,0,0,0.6);

        img {
            height: 100%;
        }
    }

    .name {
        margin-top: 10px;
        text-align: center;
        color: #333;
        font-size: 15px;
        white-space: nowrap;
        text-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }

    .profile-detail {


        &.active {
            .mask {
                width: 1000px;
                height: 1000px;
                z-index: 10000;
                transform: translate(-50%, -50%) scale(5);
                transition: all 2s;
            }

            .inner {
                visibility: visible;
                opacity: 1;
                transition: all .4s .8s;

                .btn-close {
                    right: 27px;
                    transform: rotate(0deg);
                }
            }
        }

        .mask {
            position: absolute;
            top: 80px;
            left: 50%;
            width: 1000px;
            height: 1000px;
            border-radius: 50%;
            background-color: #b5db92;
            transform: translate(-50%, -50%) scale(0);
            transition: all 0s;
        }

        .inner {
            visibility: hidden;
            opacity: 0;
            overflow-y: scroll;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 11000;
            background-color: #b5db92;
            transition: all .4s 0s;

            .btn-close {
                display: block;
                overflow: hidden;
                position: fixed;
                top: 10px;
                right: -100px;
                z-index: 20000;
                width: 60px;
                height: 60px;
                text-align: left;
                text-indent: -9999px;
                transform: rotate(420deg);
                transition: all 2s;
                
                &::before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 30px;
                    width: 2px;
                    height: 60px;
                    background-color: #333;
                    transform: rotate(45deg);
                }
                &::after {
                    content: ' ';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 30px;
                    width: 2px;
                    height: 60px;
                    background-color: #333;
                    transform: rotate(-45deg);
                }
            }

            .inner-contents {
                width: 600px;
                margin: 50px auto;
                color: #333;
                font-size: 16px;

                .intro {
                    margin-bottom: 25px;
                    font-size: 18px;
                }
            }
        }
    }
}

.info-list {
    > li {
        display: table;
        width: 100%;

        + li {
            margin-top: 10px;
        }

        > div {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .key {
        width: 100px;
        font-weight: 700;
    }
}

.sub-title {
    margin-bottom: 20px;
    color: #222;
    font-weight: 700;
    font-size: 18px;
}

.section {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #333;

    > .project-list {
        color: #444;
        font-weight: 700;

        > li {
            + li {
                margin-top: 10px;
            }
        }
    }
}

.pop-detail {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.6);
    transition: all .4s;

    &.active {
        visibility: visible;
        opacity: 1;

        .inner {
            margin-top: 100px;
        }
    }

    .inner {
        position: relative;
        width: 600px;
        margin: 0 auto 100px;
        padding: 30px;
        background-color: #ffdd50;
        transition: margin .4s ease-out;

        > .sub-title {
            padding-right: 50px;
        }

        .btn-close {
            display: block;
            overflow: hidden;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 20000;
            width: 60px;
            height: 60px;
            text-align: left;
            text-indent: -9999px;
            transform: rotate(360deg);
            transition: all 2s;

            &::before {
                content: ' ';
                display: block;
                position: absolute;
                top: 0;
                right: 30px;
                width: 2px;
                height: 60px;
                background-color: #333;
                transform: rotate(45deg);
            }
            &::after {
                content: ' ';
                display: block;
                position: absolute;
                top: 0;
                right: 30px;
                width: 2px;
                height: 60px;
                background-color: #333;
                transform: rotate(-45deg);
            }
        }
    }
}

.btn-top {
    display: block;
    opacity: 0.9;
    overflow: hidden;
    position: fixed;
    right: 32px;
    bottom: 15px;
    z-index: 100;
    width: 40px;
    height: 40px;
    padding: 10px 0;
    background-color: #ffdd50;
    color: #000;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    text-indent: -9999px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transform: translateY(50px) scale(0);
    transition: all 0.2s cubic-bezier(0, 0, 0.7, 1.59);

    &.active {
        transform: translateY(0px) scale(1);
    }

    &::before {
        @include alignX;
        content: '';
        display: block;
        top: 4px;
        border-top: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #000;
        border-left: 10px solid transparent;
    }

    &::after {
        @include alignX;
        content: '';
        display: block;
        top: 6px;
        border-top: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #ffdd50;
        border-left: 10px solid transparent;
    }
}

@media screen and (max-width: 660px){
    .profile-area {
        .profile-detail {
            &.active {
                .inner {

                    .btn-close {
                        right: 10px;
                    }

                }
            }

            .inner {
                .inner-contents {
                    width: 100%;
                    padding: 0 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .pop-detail {

        &.active {
            .inner {
                margin-top: 0;
            }
        }

        .inner {
            width: 100%;
            margin: 0;
        }
    }
}